<!DOCTYPE html>
<html lang="en" th:replace="~{layout :: layout(~{::title}, ~{::body})}">
<head>
    <title>Weather</title>
</head>
<body>

<nav class="navbar navbar-light bg-light justify-content-center">
    <div class="d-flex" th:if="${user}">
        <div th:text="${user.getLogin()}" class="me-4 mt-auto mb-auto"></div>
        <form th:action="@{/auth/signout}" method="post">
            <input class="btn btn-primary"
                   type="submit"
                   value="Sign out">
        </form>
    </div>
    <div class="d-flex gap-2" th:unless="${user}">
        <a class="btn btn-primary" th:href="@{/auth/signin}">Sign in</a>
        <a class="btn btn-primary" th:href="@{/auth/signup}">Sign up</a>
    </div>
</nav>

<div class="d-flex justify-content-center my-4">
    <form class="d-flex align-items-center">
        <input aria-label="Search"
               class="form-control"
               id="search"
               minlength="3"
               name="search"
               placeholder="Search"
               th:value="${search}"
               type="text">
        <a class="btn-close mx-2" th:href="@{/}" title="Clear"></a>
        <input class="btn btn-outline-primary"
               type="submit"
               value="Search">
    </form>
</div>
<div class="text-secondary text-center" th:text="${error}"></div>

<div class="container d-flex flex-wrap justify-content-center my-4"
     th:fragment="weathercards"
     xmlns:th="http://www.thymeleaf.org">

    <div class="card m-2 p-3 d-flex justify-content-between"
         style="width: 24rem"
         th:each="locationWeather : ${locationWeather}"
         th:with="weather = ${locationWeather.weather()}, location =${locationWeather.location()}">

        <div class="row justify-content-center mb-2">
            <div class="col text-center">
                <div class="h4 mb-0" th:if="${location}" th:text="${location.getName()}"/>
                <div class="h4 mb-0" th:text="${weather.getCity()}" th:unless="${location}"/>
                (<span th:if="${weather.getState()}" th:text="${weather.getState() + ', '}"/><span
                    th:text="${weather.getCountryCode()}"/>)
            </div>

            <div class="col-auto"
                 th:if="${user}">
                <form th:if="${location}"
                      th:action="@{/location/{locationId}(locationId=${location.getId()})}">
                    <input name="_method" value="delete" type="hidden">
                    <input name="search" th:value="${search}" type="hidden"/>
                    <button class="btn btn-outline-primary" type="submit">
                        <i class="bi bi-trash"></i>
                    </button>
                </form>
                <form method="post"
                      th:unless="${location}"
                      th:action="@{/location}">
                    <input name="search" th:value="${search}" type="hidden"/>
                    <input name="name" th:value="${weather.getCity()}" type="hidden"/>
                    <input name="latitude" th:value="${weather.getLatitude()}" type="hidden"/>
                    <input name="longitude" th:value="${weather.getLongitude()}" type="hidden"/>
                    <button class="btn btn-outline-primary" type="submit">
                        <i class="bi bi-plus-lg"></i>
                    </button>
                </form>
            </div>
        </div>

        <div class="row align-items-center">
            <div class="col text-center">
                <div class="d-flex flex-wrap justify-content-center align-items-center">
                    <img alt="Weather icon"
                         height="100"
                         th:src="${weather.getIconUrl()}"
                         width="100"/>
                    <div>
                        <span class="h2" th:text="${weather.getTemperature()}"/>
                        <span class="mb-3">°C</span>
                    </div>
                </div>
                <div th:text="${weather.getName()}"></div>
                <div>(<span th:text="${weather.getDescription()}"/>)</div>
            </div>

            <div class="col">
                <div><i class="bi bi-thermometer-half"></i> Feels like: <span th:text="${weather.getFeelsLike()}"/>°
                </div>
                <div><i class="bi bi-thermometer-low"></i> Min: <span th:text="${weather.getMinTemperature()}"/>°</div>
                <div><i class="bi bi-thermometer-high"></i> Max: <span th:text="${weather.getMaxTemperature()}"/>°</div>
                <div><i class="bi bi-moisture"></i> Humidity: <span th:text="${weather.getHumidity()}"/>%</div>
                <div><i class="bi bi-wind"></i> Wind: <span th:text="${weather.getWindSpeed()}"/> m/sec</div>
                <div><i class="bi bi-eye"></i> Visibility: <span th:text="${weather.getVisibility()}"/> km</div>
                <div th:with="latitude = ${location ? location.getLatitude() : weather.getLatitude()}">
                    <i class="bi bi-geo"></i> Latitude:
                    <span th:text="${latitude.setScale(3, 4)}"/>
                </div>
                <div th:with="longitude = ${location ? location.getLongitude() : weather.getLongitude()}">
                    <i class="bi bi-geo-fill"></i> Longitude:
                    <span th:text="${longitude.setScale(3, 4)}"/>
                </div>
            </div>
        </div>

    </div>

</div>

</body>
</html>