<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Weather</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link crossorigin="anonymous"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-light bg-light justify-content-center">
    <div class="d-flex " th:if="${user}">
        <div th:text="${user.getLogin()}" class="me-4 mt-auto mb-auto"></div>
        <form action="signout" method="post">
            <input class="btn btn-primary"
                   type="submit"
                   value="Sign out">
        </form>
    </div>
    <div th:unless="${user}">
        <a class="btn btn-primary me-2" href="signin">Sign in</a>
        <a class="btn btn-primary" href="signup">Sign up</a>
    </div>
</nav>

<div class="d-flex justify-content-center mt-4">
    <form class="d-flex align-items-center">
        <input aria-label="Search"
               class="form-control"
               id="search"
               minlength="3"
               name="search"
               placeholder="Search"
               th:value="${search}"
               type="text">
        <a class="btn-close mx-2" th:href="@{/}" title="Clear"></a>
        <input class="btn btn-outline-primary"
               type="submit"
               value="Search">
    </form>
</div>
<div class="text-danger text-center" th:text="${error}"/>

<div class="container d-flex flex-wrap justify-content-center mt-4">
    <div th:each="w : ${weather}">
        <div class="card m-2 p-3">
            <div class="row justify-content-center mb-2">
                <div class="col text-center">
                    <div class="h4 mb-0" th:text="${w.getCity()}"/>
                    (<span th:if="${w.getState()}" th:text="${w.getState() + ', '}"/><span th:text="${w.getCountryCode()}"/>)
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col text-center">
                    <div class="d-flex align-items-center">
                        <img alt="Weather icon"
                             height="100"
                             th:src="${w.getIconUrl()}"
                             width="100"/>
                        <span class="h2" th:text="${w.getTemperature()}"/>
                        <span class="mb-3">°C</span>
                    </div>
                    <div th:text="${w.getName()}"></div>
                    <div>(<span th:text="${w.getDescription()}"/>)</div>
                </div>
                <div class="col">
                    <div>
                        <i class="bi bi-thermometer-half"></i> Feels like: <span th:text="${w.getFeelsLike()}"/>°
                    </div>
                    <div><i class="bi bi-thermometer-low"></i> Min: <span th:text="${w.getMinTemperature()}"/>°</div>
                    <div><i class="bi bi-thermometer-high"></i> Max: <span th:text="${w.getMaxTemperature()}"/>°</div>
                    <div><i class="bi bi-moisture"></i> Humidity: <span th:text="${w.getHumidity()}"/>%</div>
                    <div><i class="bi bi-wind"></i> Wind: <span th:text="${w.getWindSpeed()}"/> m/sec</div>
                    <div><i class="bi bi-eye"></i> Visibility: <span th:text="${w.getVisibility()}"/> km</div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>