<!DOCTYPE html>
<html lang="en" th:replace="~{layout :: layout(~{::title}, ~{::body})}">
<head>
    <title>Sign in</title>
</head>
<body>

<nav class="navbar navbar-light bg-light justify-content-center gap-2">
    <a class="btn btn-primary" th:href="@{/}">Home</a>
    <a class="btn btn-primary" th:href="@{/auth/signup}">Sign up</a>
</nav>

<div class="container">
    <div class="d-flex justify-content-center mt-5">
        <form th:action="@{/auth/signin}"
              class="row g-2"
              method="post"
              style="width: 22rem">
            <h3 class="text-center mb-4">Sign in</h3>
            <input aria-label="Login"
                   autofocus
                   class="form-control"
                   id="login"
                   maxlength="25"
                   minlength="3"
                   name="login"
                   placeholder="Email or username"
                   required
                   th:value="${signInRequest.login}"
                   type="text">
            <input aria-label="Password"
                   class="form-control"
                   id="password"
                   maxlength="25"
                   minlength="3"
                   name="password"
                   placeholder="Password"
                   required
                   th:value="${signInRequest.password}"
                   type="password">
            <div class="text-danger"
                 th:text="${error}"></div>
            <input class="form-control btn btn-primary"
                   type="submit"
                   value="Sign in">
        </form>
    </div>
</div>
</body>
</html>
