<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Sign in</title>
    <link crossorigin="anonymous"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="d-flex justify-content-center mt-5">
        <form action="signin"
              class="row g-2"
              method="post"
              style="width: 22rem">
            <h3 class="text-center mb-4">Sign in</h3>
            <input aria-label="Login"
                   autofocus
                   class="form-control"
                   id="login"
                   maxlength="25"
                   minlength="3"
                   name="login"
                   placeholder="Email or username"
                   required
                   th:value="${signInRequest.login}"
                   type="text">
            <input aria-label="Password"
                   class="form-control"
                   id="password"
                   maxlength="25"
                   minlength="3"
                   name="password"
                   placeholder="Password"
                   required
                   th:value="${signInRequest.password}"
                   type="password">
            <div class="text-danger"
                 th:text="${error}"/>
            <input class="form-control btn btn-primary"
                   type="submit"
                   value="Sign in">
        </form>
    </div>
</div>
</body>
</html>
